<body>
    <mat-toolbar class="navbar">
        <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
        <div class="spacer"></div>
        <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

        <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

    </mat-toolbar>
    <div fxLayoutAlign="start" class="title">
        <h1 class="elementor-heading-title elementor-size-default">Historique des cérémonies</h1>
 
      </div>
      <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        
        
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        
  
    <ng-container matColumnDef="ceremonyName">
      <th mat-header-cell *matHeaderCellDef> Nom de la cérémonie </th>
      <td mat-cell *matCellDef="let element"> {{element.name}}</td>
    </ng-container>
   
   <!--strat date-->
    <ng-container matColumnDef="dateStart">
      <th mat-header-cell *matHeaderCellDef>Date de début</th>
      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
    </ng-container>
  

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      
  </table>
  
  
  </div>
</body>>
