<body>
    <mat-toolbar class="navbar">
        <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
        <div class="spacer"></div>
        <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

        <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

    </mat-toolbar>
    <div fxLayoutAlign="start" class="title">
        <h1 class="elementor-heading-title elementor-size-default">Maître de cérémonie</h1>
    </div>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <form fxLayoutAlign = "stretch" fxLayout="column" class="login-form">
        <div class="row">
            <button mat-raised-button class="first-icons"  routerLink="/profile">
                <img src="../assets/img/account_circle.svg" title="Gestion profil">
                Gestion profil
            </button>
            <button mat-raised-button routerLink ="/ceremony_history" (click)="consulthistory()">
                <img src="../assets/img/history.svg" title="Historique">
                Historique
            </button>
        </div>
        <div class="row">
            <button mat-raised-button class="first-icons" routerLink="/add_deadline">
                <img src="../assets/img/insert_invitation.svg" title="Ajouter une deadline">
                Ajouter une deadline
            </button>
           
   
           
            <button mat-raised-button (click)="getCollaborateur()" routerLink="/delete_user_account">
                <img src="../assets/img/person_remove.svg" title="Gestion des utilisateurs">
                Gestion des utilisateurs
            </button>
        </div>
        <div class="row">
            <button mat-raised-button class="first-icons"  (click)="lancerCeremony()" type="submit">
                <img src="../assets/img/groups.svg" title="Lancer cérémonie">
                Lancer cérémonie
            </button>
            <button mat-raised-button (click)='getOwnCurrent()' routerLink="/postits">
                <img src="../assets/img/post_add.svg" title="Ajouter/Modifier post-its">
                Ajouter/Modifier post-its
            </button>
        </div>
    </form>
    </div>
</body>
