body {
    background-color: #f8f8f8;
    border-left: 250px solid;
    border-image: linear-gradient(to bottom, #7639aa, #a80d72) 1;
}

.mat-raised-button {
    margin-left: 279px;
    margin-top: 50px;
    font-family: 'Lato';
    color: #f8f8f8;
    background-image: linear-gradient(to right, #7639aa, #a80d72);
    width: 300px;
    height: 50px;
    font-size: 20px;
}

button.mat-raised-button:hover {
    background-image: linear-gradient(to left, #7639aa, #a80d72);
}

.first-icons {
    margin-left: 140px;
}

.close-icons {
    margin-left: 43px;
}

.main-div {
    margin-left: -60px;
    margin-top: -150px;
}

h1 {
    font-family: 'Lato';
    color: #434343;
    font-size: 40px;
    font-weight: bold;
    padding-top: 30px;
}

img {
    padding-right: 10px;
}

.title {
    margin-left: 10px;
}

.navbar {
    background-color: #7639aa;
    /*background-image: linear-gradient(to right, #7639aa, #a80d72);*/
    /*opacity: 0.9;*/
}

.spacer {
    flex: 1 1 auto;
}