<body>
    <mat-toolbar class="navbar">
        <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
        <div class="spacer"></div>
        <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

        <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

    </mat-toolbar>
    <div fxLayoutAlign="start" class="title">
        <h1 class="elementor-heading-title elementor-size-default">Gestion profil</h1>
        </div>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <form fxLayoutAlign = "stretch" fxLayout="column" class="login-form">
        <div class="row">
            <button mat-raised-button class="first-icons" routerLink="/edit_password">
                <img src="../assets/img/vpn_key.svg" title="Modifier mot de passe">
                Modifier mot de passe 
            </button>
            <button mat-raised-button  routerLink="/delete_my_account">
                <img src="../assets/img/delete_forever.svg" title="Supprimer compte"  >
                Supprimer compte
            </button>
        </div>
    </form>
    </div>
</body>