.full-width-table {
  width: 100%;
  background-color: #7D7171;
  opacity: 0.8;
  border: solid 5px;
  border-color:#F8F8F8;
  
}

.paginator {
  background-color: #7D7171;
  opacity: 0.8;
  border: solid 5px;
  border-color:#F8F8F8;
}

.app-data-table {
  width: 25%;
  margin-top: 125px;
  margin-left: 70px;
}
