<div class="mat-elevation-z8 app-data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Post-its Column -->
    <ng-container matColumnDef="positivePostIt">
      <th mat-header-cell *matHeaderCellDef>Post-its positifs</th>
      <td mat-cell *matCellDef="let row">
        <img src={{row.positivePostIt}} width="30px" height="35px">
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="negativePostIt">
      <th mat-header-cell *matHeaderCellDef>Post-its négatifs</th>
      <td mat-cell *matCellDef="let row">
        <img src={{row.negativePostIt}} width="30px" height="35px">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator class="paginator"
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
