<body>
    <mat-toolbar class="navbar">
        <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
        <div class="spacer"></div>
        <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

        <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

    </mat-toolbar>
    <div fxLayoutAlign="start" class="title">
        <h1 class="elementor-heading-title elementor-size-default">Modifier les post-its</h1>
    </div>
    <form id="usrform">
        <div class="container">
                <div rows="4" cols="150" class="note">
                <div class="line">Post-it positif</div>
                <textarea  rows="14" cols="36" class="text-area-yellow" name="positive_postit" form="usrform" [(ngModel)]="postits.positif" #positif="ngModel" maxlength="1024" placeholder="Vous êtes limité(e) à 1024 caractères...">
                
            
                </textarea> 
                </div>
                
                <div rows="4" cols="150" class="note">
                    <div class="line">Post-it négatif</div>
                <textarea  rows="14" cols="36" class="text-area-green" name="negative_postit" form="usrform" [(ngModel)]="postits.negatif" #negatif="ngModel" maxlength="1024" placeholder="Vous êtes limité(e) à 1024 caractères...">
                    </textarea> 
                </div>
            
        </div>
        <div class="row1">

            <button mat-raised-button type="submit" class="first-icons" (click)="openAddDialog()">
                <img src="../assets/img/note_add.svg" title="Ajouter post-its">
                Ajouter les post-its </button>
            <button mat-raised-button type="submit" (click)="openEditDialog()">
                <img src="../assets/img/save.svg" title="Enregistrer modifications">
                Enregistrer les modifications</button>

        </div>
    </form>

</body>
