@import '../ceremony-master/ceremony-master.component.css';

.row{
    font-size: 20px;
    margin-left: 55px;
}
.mat-raised-button {
    margin-left: 279px;
    margin-top: 50px;
    font-family: 'Lato';
    color: #f8f8f8;
    background-image: linear-gradient(to right, #7639aa, #a80d72);
    width: 200px;
    height: 50px;
    font-size: 15px;
}
table {
    width: 80%;
    height: 15%;
    background-color: #5e5e5e;
    opacity: 0.9;
  }
  body{
      height: 100%;
  }
  .supp{
    margin-left: 40px;
    margin-top: 5px;
    font-family: 'Lato';
    color: #f8f8f8;
    background-image: linear-gradient(to right, #7639aa, #a80d72);
    width: 25px;
    height: 35px;
    font-size: 15px;
}

.main-div {
    margin-top: -350px;
}

.add_user {
    margin-top: 200px;
    margin-left: -303px;
}