<body>
  <mat-toolbar class="navbar">
    <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
    <div class="spacer"></div>
    <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

    <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>
 
    
  </mat-toolbar>
    <div fxLayoutAlign="start" class="title">
      <h1 class="elementor-heading-title elementor-size-default">Gestion des utilisateurs</h1>
      <button mat-raised-button class="add_user" (click)="onCreate()">
        <img src="../assets/img/person_add.svg" title="Ajouter utilisateurs">
          Ajouter des utilisateurs </button>
    </div>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      
      
 <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      

  <ng-container matColumnDef="userName">
    <th mat-header-cell *matHeaderCellDef> Nom d'utilisateur </th>
    <td mat-cell *matCellDef="let element"> 
      {{element.nick}}
       </td>
  </ng-container>
 
  <!-- Name Column -->
  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef> Post-its ajoutés</th>
    <td mat-cell *matCellDef="let element"> {{element.wrotepostit}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="buttonrole">
    <th mat-header-cell *matHeaderCellDef> Modifier rôle utilisateur </th>
    <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">   
      <button mat-raised-button class="supp" (click)="onCreateRole(element.id)">
        <img src="../assets/img/edit.svg" title="Modifier rôle">
      </button> 
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="buttonsupp">
    <th mat-header-cell *matHeaderCellDef>Supprimer utilisateur </th>
    <td mat-cell *matCellDef="let element ;let i = index">
      <button mat-raised-button class="supp" (click)="openDeleteDialog(element.id ,i)">
        <img src="../assets/img/delete_forever.svg" title="Supprimer utilisateur">
      </button> 



    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
    
</table>


</div>
    
</body>
  
