      
<body>
  <mat-toolbar class="navbar">
    <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
    <div class="spacer"></div>
    <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>
    <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

  </mat-toolbar>
  <div fxLayoutAlign="start" class="title"  >
    <h1 class="elementor-heading-title elementor-size-default">Ajouter une deadline</h1>
  </div>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div"  >
        <mat-card fxFlex="35">
          <form fxLayoutAlign = "stretch" fxLayout="column"  #deadlineform="ngForm">
            <mat-card-title>Ajouter une deadline</mat-card-title>
            <mat-card-content class="success">{{msg}}</mat-card-content>

            
            <mat-form-field>
                <input matInput  name="name" [(ngModel)]="ceremony.ceremonyName" #name="ngModel" required >
          
                <mat-placeholder class ="placeholder">Nom de la cérémonie</mat-placeholder>
            </mat-form-field>
            <mat-form-field>
              <input matInput type='date' name="endDate" [(ngModel)]="ceremony.endDate" #dateDebut="ngModel" required>
            </mat-form-field>
              <mat-form-field>
                <input matInput type='time' step="2" name="endTime" [(ngModel)]="ceremony.endTime" #dateFin="ngModel" required>
              </mat-form-field>

              <button mat-raised-button  type="submit" (click)="openDialog()" [disabled]="deadlineform.form.invalid">Créer la cérémonie</button>

          </form>     
        </mat-card>
    </div>
  </body>