@import '../ceremony-master/ceremony-master.component.css';


.mat-card {
    background-color: #5e5e5e;
    height: 350px;
    opacity: 0.9;
}

.mat-raised-button {
    margin-top: 20px;
    margin-left: 125px;
}
.owl-dt-container {
    font-size : -10px;
   }