<div mat-dialog-content>
    {{message}}
   </div>
   <div mat-dialog-actions>
     <button mat-button (click)="onNoClick()">Non</button>
     <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Oui</button>
</div>