<body>
  <mat-toolbar class="navbar">
    <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
    <div class="spacer"></div>
    <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

    <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

  </mat-toolbar>
  <div fxLayoutAlign="start" class="title">
  <h1 class="elementor-heading-title elementor-size-default">TéléRetro de sprint</h1>
  </div>
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      <mat-card fxFlex="35">
        <form fxLayoutAlign = "stretch" fxLayout="column" class="login-form" #resetpasswordform="ngForm"  >
          <mat-card-title>Changer mot de passe</mat-card-title>
          <mat-card-content class="success">{{msg}}</mat-card-content>


            <mat-form-field>
              <input matInput type="password" name="password" [(ngModel)]="user.password"   #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" required>
              <mat-error [class.d-none]="password.invalid || password.untouched">Mot de passe obligatoire</mat-error>

              <mat-placeholder class ="placeholder">Ancien mot de passe </mat-placeholder>
            </mat-form-field>

            <mat-form-field>
              <input matInput type="password" name="newpassword" [(ngModel)]="user.newpassword"   #newpassword="ngModel" required [class.is-invalid]="newpassword.invalid && newpassword.touched" required>
              <mat-error [class.d-none]="newpassword.invalid || newpassword.untouched">Mot de passe obligatoire</mat-error>

              <mat-placeholder class ="placeholder">Nouveau mot de passe</mat-placeholder>
            </mat-form-field>

            <mat-form-field  [class.has-error]="cpassword.touched && cpassword.invalid  " >
              <input matInput class="form-control" type="password" name="cpassword"  appConfirmEqualValidator="newpassword" required   [(ngModel)]="user.cpassword"   #cpassword="ngModel">
              <mat-error *ngIf=" cpassword.touched && cpassword.errors?.required">confirmation de mot de passe est requise</mat-error>
              <mat-error *ngIf="cpassword.touched && cpassword.errors?.notEqual">Mot de passe et sa confirmation ne sont pas identiques</mat-error>

              <mat-placeholder class ="placeholder">Confirmation du nouveau mot de passe</mat-placeholder>
            </mat-form-field>
              
            <button mat-raised-button [disabled]="resetpasswordform.form.invalid" (click)="openDialog()" type="submit" >Changer le mot de passe</button>
        </form>     
      </mat-card>
  </div>
</body>