<body>

    <div fxLayoutAlign="center center" fxFlexFill class="main-div" >
        <mat-card class="login-div">
          <form fxLayoutAlign = "stretch" fxLayout="column" class="login-form" #registerform="ngForm"  (ngSubmit)="RegisterNow" >
            <mat-card-title>Ajouter un utilisateur</mat-card-title>
            <mat-card-content class="success">{{msg}}</mat-card-content>
           

        
            
            <mat-form-field>
                <input matInput  name="email" [(ngModel)]="user.email" #email="ngModel" required >
             <!-- <mat-error *ngIf="email.errors && (email.invalid && email.touched)"> 
                <mat-error class="danger" *ngIf="email.errors.required">Adresse mail obligatoire</mat-error>
  
                <mat-error class="danger" *ngIf="email.errors.pattern">Saisissez une adresse email valide</mat-error>
              </mat-error> -->
                <mat-placeholder class ="placeholder">Adresse Email</mat-placeholder>
              </mat-form-field>


              <mat-form-field>
                <input matInput  name="username" [(ngModel)]="user.userName" #username="ngModel" required [class.is-invalid]="username.invalid && username.touched" >
                <mat-error class="danger" *ngIf="username.invalid || username.untouched|| username.lunched">Le nom d'utilisateur est obligatoire</mat-error>
  
             
                <mat-placeholder class ="placeholder">Nom d'utilisateur</mat-placeholder>
              </mat-form-field>

         <!--  <select class="roles" disableRipple>
                <option value="mdc">Maître de cérémonie</option>
                <option value="user">Utilisateur</option>
              </select>-->
              <label class="container" [class.has-error]="role.invalid"> 
                <label class="control-label">Rôle</label>
                  <label class="radio-inline">
                    <input type="radio" name="role" required #role="ngModel"
                           value="true" [(ngModel)]="user.role"> Maitre de cérémonie
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="role" required #role="ngModel"
                           value="false" [(ngModel)]="user.role"> Utilisateur
                  </label>
                </label>
       
              <button mat-raised-button class ="first-icons" [disabled]="registerform.form.invalid"  type="submit" (click)="openDialog()">S'inscrire</button>
              <button mat-raised-button class ="first-icons" type="submit" (click)="closeDialog()">Annuler</button> 

          </form>    
          
        </mat-card>
    </div>
  </body>