@import '../ceremony-master/ceremony-master.component.css';


body {
    background-color: #f8f8f8;
    border-left: 100px solid;
    border-image: linear-gradient(to bottom, #7639aa, #a80d72) 1;
}

.first-icons {
    margin-left: 0px;
    margin-top: 20px;
}