<body>
  <mat-toolbar class="navbar">
    <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
    <div class="spacer"></div>
    <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

    <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

  </mat-toolbar>
    <div class="title">
        <h1 class="elementor-heading-title elementor-size-default">Cérémonie</h1>
    </div>
    <mat-form-field class="participants" appearance="fill" >
      <mat-label>Participants</mat-label>
      <mat-select (click)="getParticipant()">
        
        <mat-option *ngFor="let user of myArray" [value]="user">
          
          {{user}}
        
        </mat-option>
    
  
      </mat-select>
    </mat-form-field>
    <h4> C'est le tour de : {{userTourr}}</h4>
   
    <div class="container">
     <div rows="4" cols="150" class="note">
        <div class="line">Post-it positif</div>
       <textarea  rows="14" cols="36" readonly class="text-area-yellow" [(ngModel)]="postits.positif" #positif="ngModel">
        

        </textarea> 
        </div>
        
        <div rows="4" cols="150" class="note">
            <div class="line">Post-it négatif</div>
        <textarea  rows="14" cols="36" readonly class="text-area-green" [(ngModel)]="postits.negatif" #negatif="ngModel">
            </textarea> 
        </div>
    </div>
    <div class="row">
        <button mat-raised-button class="first-icons" type="submit" (click)="openDistributeDialog()" [disabled]="distribute_click">
          <img src="../assets/img/sync.svg" title="Distribuer post-its">
          Distribuer les post-its
        </button>
        <button mat-raised-button (click)="openOwnTurnDialog()" [disabled]="click">
          <img src="../assets/img/skip_next.svg" title="Finir son tour">
          Finir son tour</button>
        <button mat-raised-button (click)="openUserTurnDialog()" [disabled]="user_click">
          <img src="../assets/img/skip_next.svg" title="Finir le tour d'un utilisateur">
          Finir le tour d'un utilisateur</button>
    </div>
    
    
</body>