@import '../ceremony-master/ceremony-master.component.css';

input {
    font-size: 15px;
}

.container{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    font-family: cursive;
    margin-left: 145px;
  }
  .note{
    margin: 20px;
    opacity: 0.8;
    transform: rotate(1deg);
  }
  .note:hover, .note:focus{
    box-shadow:10px 10px 7px rgba(0,0,0,.7);
    transform: scale(1.25);
    position:relative;
    z-index:5;
  }
  .line{
    width: 100%;
    height: 30px;
    text-align: center;
    font-family: 'Lato';
  }
  .container div:nth-child(1){
    background: #ffe739;
  }
  .container div:nth-child(1) .line{
    background: linear-gradient(#ffe739, #ffc317);
  }
  .container div:nth-child(2) .line{
    background: linear-gradient(#98f57a, #86dc6a);
  }
  .container div:nth-child(2){
    background: #98f57a;
  }

  .text-area-yellow {
    background: linear-gradient(#ffe739, #ffc317);
    border: solid 0px;
    resize: none;
    scrollbar-arrow-color:pink;
    scrollbar-base-color:red;
    scrollbar-darkshadow-color:blue;
    scrollbar-highlight-color:orange;
    scrollbar-shadow-color:green;
  }


.text-area-yellow:focus {
    outline: none !important;
    border: solid 0px;
}

.text-area-green {
    background: linear-gradient(#98f57a, #86dc6a);
    border: solid 0px;
    resize: none;
    scrollbar-arrow-color:pink;
    scrollbar-base-color:red;
    scrollbar-darkshadow-color:blue;
    scrollbar-highlight-color:orange;
    scrollbar-shadow-color:green;
  }


.text-area-green:focus {
  outline: none !important;
  border: solid 0px;
}

.first-icons {
  margin-left: 700px;
  margin-right: -200px;
}
.mat-raised-button {
  margin-top: 200px;
}

.participants {
  background-color: #7D7171;
  opacity: 0.8;
  margin-left: 10px;
  margin-bottom: -200px;
}

.row {
  margin-top : 300px;
}

h4{
  margin-top: 50px;
  margin-left: 10px;
}