<body>
    <mat-toolbar class="navbar">
      <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
      <div class="spacer"></div>
      <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>
  
      <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>
   
      
    </mat-toolbar>
      <div fxLayoutAlign="start" class="title">
        <h1 class="elementor-heading-title elementor-size-default">Modifier une deadline</h1>
      </div>
      <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        
        
   <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
        
  
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef> Nom d'utilisateur </th>
      <td mat-cell *matCellDef="let element"> 
        {{element.nick}}
         </td>
    </ng-container>
   
    <!-- Name Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Post-its ajoutés</th>
      <td mat-cell *matCellDef="let element"> {{element.wrotepostit}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    
      
  </table>
  
  
  </div>
      
  </body>
    
  