<body>

  <div fxLayoutAlign="center center" fxFlexFill class="main-div" >
      <mat-card class="login-div">
        <form fxLayoutAlign = "stretch" fxLayout="column" class="login-form" #registerform="ngForm"  >
          <mat-card-title>Modifier le role de l'utilisateur </mat-card-title>
        
         

<label class="container" [class.has-error]="roleutilisateur.invalid || rolemdc.invalid"> 
    <label class="control-label">Rôle</label>
      <label class="radio-inline">
        <input type="radio" name="role" required #rolemdc="ngModel"
               value="true" [(ngModel)]="user.rolemdc"> Maitre de cérémonie
      </label>
      <label class="radio-inline">
        <input type="radio" name="role" required #roleutilisateur="ngModel"
               value="false" [(ngModel)]="user.roleutilisateur"> Utilisateur
      </label>
    </label>


  <button mat-raised-button class ="first-icons"  type="submit" (click)="openEditDialog()" >Modifier rôle </button>
  <button mat-raised-button class ="first-icons" type="submit" (click)="closeDialog()">Annuler</button> 
</form> 
</mat-card>
</div>
</body>
