html *
{
   font-family: 'Lato';
}

mat-card {
    padding: 0px;
}

mat-list-item {
    background-color: linear-gradient(to right, #7639aa, #a80d72) 1;
}

.main-div {
    background-color: transparent;
    height: 80%;
    width: 80%;
    margin-top: -100px;
   
}
.login-div{
    margin-top: -100px;
    width: 30%;
    height: 30%;
    min-width: 400px;
    min-height: 400px;
}

.login-form {
    padding: 70px;
    background-color: #f8f8f8;
}

.mat-raised-button {
    margin-top: 60px;
    margin-bottom: -50px;
    font-family: 'Lato';
    color: #f8f8f8;
    background-image: linear-gradient(to right, #7639aa, #a80d72);
    width: 150px;
    text-align: center;
    margin: auto;
    font-size: 20px;
}

button.mat-raised-button:hover {
    background-image: linear-gradient(to left, #7639aa, #a80d72);
}

.connexion {
    margin-top: 20px;
}

.mat-toolbar {
    background-image: transparent;
    color: #f8f8f8;
}

body {
    background-image: linear-gradient(to bottom, #7639aa, #a80d72);
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    padding-bottom: 110px; 
    resize: both;
}

h1 {
    font-family: 'Lato';
    color: #f8f8f8;
    font-size: 40px;
    font-weight: bold;
}

span {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-family: 'Lato';
  }
  
.placeholder {
    color: #434343;
    font-family: 'Lato';
    font-size: 20px;
    margin-top: 20px;
}


.password-forgotten {
    font-family: 'Lato';
    color: #434343;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mat-focused .placeholder {
    color: #7639aa;
    font-family: 'Lato';
    font-size: 20px;
}

.mat-input-element {
    color: #434343;
    font-family: 'Lato';
}

.mat-card-title {
    position: relative;
    color: #434343;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 55px;
}

.safetyline-logo{
    padding: 10px;
    width: 350px;
}

.title {
    margin-top: 50px;
    margin-left: 10px;
}

a {
    color: #434343;
    font-family: 'Lato';
    font-size: 20px;
}

footer{
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.success {
    color: red;
    font-family: 'Lato';
    font-size: 20px;

}

input {
    font-size: 15px;
}