<body>
  <a>
    <img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg">
  </a>
  <div fxLayoutAlign="start" class="title">
  <h1>TéléRetro de sprint</h1>
  </div>
  <div fxLayoutAlign="center center" fxFlexFill class="main-div">
      <mat-card class="login-div" >
        <form fxLayoutAlign = "stretch" fxLayout="column" class="login-form" #loginform="ngForm" (ngSubmit)="loginUser">
          <mat-card-title fxLayoutAlign="center">Login</mat-card-title>
          <mat-card-content class="success" >{{msg}}</mat-card-content>
           
          
          <mat-form-field>
              <input matInput  name="login" [(ngModel)]="user.email" #email="ngModel" required >
              <span class="class" *ngIf="email.invalid && email.touched"> L'adresse mail est requise</span>
              <mat-placeholder class ="placeholder">Adresse E-mail / Username</mat-placeholder>
            </mat-form-field>



            <mat-form-field>
              <input matInput type="password" name="password" [(ngModel)]="user.password"  value={{user.password}}  #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" required>
              <mat-error [class.d-none]="password.invalid || password.untouched">Mot de passe obligatoire</mat-error>

              <mat-placeholder class ="placeholder" >Mot de passe</mat-placeholder>
            </mat-form-field>
            <label class="container"> 
              <input class="placeholder" type="checkbox" data-md-icheck/>
                  <a (click)="islogin()">Se souvenir de moi</a>
                <span class="checkmark"></span>
              </label>
              <a class="password-forgotten" href="" routerLink="/forgot_password" >Mot de passe oublié ?</a>
              
            <button mat-raised-button class="connexion" [disabled]="loginform.form.invalid" (click)="loginUser()" type="submit">Connexion</button>
        </form>     
      </mat-card>
  </div>
</body>