@import '../add-deadline/add-deadline.component.css';

.mat-raised-button {
    margin-top: 25px;
    margin-left: 40px;
}

.mat-card {
    height: 300px;
}

.mat-card-title {
    margin-bottom: 20px;
}