<body>
  <mat-toolbar class="navbar">
    <span><img class="safetyline-logo" src="https://www.safety-line.fr/wp-content/uploads/2020/09/logo_safety-line_white.svg"></span>
    <div class="spacer"></div>
    <a mat-button (click)="homeRedirection()"><mat-icon>home</mat-icon>Accueil</a>

    <a mat-button (click)="disconnectUser()"><mat-icon>logout</mat-icon>Déconnexion</a>

  </mat-toolbar>
    <div fxLayoutAlign="start" class="title">
    <h1 class="elementor-heading-title elementor-size-default">TéléRetro de sprint</h1>
    </div>
    <div fxLayoutAlign="center center" fxFlexFill class="main-div">
        <mat-card fxFlex="25">
          <form fxLayoutAlign = "stretch" fxLayout="column" class="login-form" #deletemyaccountform="ngForm" >
            <mat-card-title>Supprimer son compte</mat-card-title>
              <mat-form-field>
                <input matInput type="password" name="password" [(ngModel)]="user.password"   #password="ngModel" required [class.is-invalid]="password.invalid && password.touched" required>
                <mat-error [class.d-none]="password.invalid || password.untouched">Mot de passe obligatoire</mat-error>
  
                <mat-placeholder class ="placeholder">Mot de passe</mat-placeholder>
              </mat-form-field>
              <mat-form-field  [class.has-error]="cpassword.touched && cpassword.invalid  " >
                <input matInput class="form-control" type="password" name="cpassword"  appConfirmEqualValidator="password" required   [(ngModel)]="user.cpassword"   #cpassword="ngModel">
                <mat-error *ngIf=" cpassword.touched && cpassword.errors?.required">confirmation de mot de passe est requise</mat-error>
                <mat-error *ngIf="cpassword.touched && cpassword.errors?.notEqual">Mot de passe et sa confirmation ne sont pas identiques</mat-error>

                <mat-placeholder class ="placeholder">Confirmation mot de passe</mat-placeholder>
              </mat-form-field>
                
              <button mat-raised-button type="submit" (click)="openDialog()" [disabled]="deletemyaccountform.form.invalid">Supprimer le compte</button>
          </form>     
        </mat-card>
    </div>
  </body>